{% extends 'base.html'%}

{% block content%}

{% if user.is_authenticated %}

{% block title %}

    <title>Add Blog Here....</title>
{% endblock %}


<h3>Add Post </h3>

<div class='form-group'>
	<form method="POST">
		{% csrf_token %}
		{{form.as_p}}
		<br>
		<button class="btn btn-primary" >Post</button>
	</form>
</div>
<script> 
 
 var name ="{{user.id}}";
 document.getElementById("current").value = name;


</script>
{%else%}
You Are Not Allowed to here...Please Login
{%endif%}


{% endblock %}
