{% extends 'base.html'%}
{%load static%}
{% block title %}
    <title>{{post.titleTag}} </title>
{% endblock %}

{% block content%}

	<div>
		<h3>{{post.title}}</h3>
	<small>By : </small><br><br>

	{%if post.author.profile.profile_pic%}
    	<img class="rounded-circle" src="{{post.author.profile.profile_pic.url}}" width="100" height="100"></img>
    	{%else%}
    	<img class="rounded-circle" src="{%static '/theblog/images/pic.png'%}" width="100" height="100"></img>
      {%endif%}<br><br>
      <a href="{%url 'profile_page' user.profile.id %}">View Profile</a>
  <br><br>

	<div style="padding-top: 5px;">
		<small>Created at: {{post.post_date}}</small>
		
	</div>
	{% if user.is_authenticated %}
	{%if user.id == post.author.id%}

	<div style="padding-top: 5px;">
		<small><a href="{% url 'update' post.pk%}">Edit Here</a></small>
		
	</div>
	<div style="padding-top: 5px;">
		<small><a href="{% url 'delete' post.pk%}">Click to delete</a></small>
		
	</div>

	<hr>
	{%endif%}
	{%endif%}
	{% if post.header_image %}
	<br>
	<img src="{{post.header_image.url}}">
	
	<br>
	{%endif%}

	<br>
	{{post.body |safe}}
	<br><br>
	{% if user.is_authenticated %}
	<div style="display: flex;" "justify-content: center;">
		<div style="padding-top: 20px" >
		<form method="POST" action="{%url 'like_post' post.pk %}">


			{% csrf_token %}
			{% if liked %}
			<button class="btn btn-primary btn-sm" , type="submit" , name='post_id',value="{{post.id}}">
				DisLike 
			</button>  
			<!--<button type="submit" name="post_id" value="{{ post.id }}" class="btn {% if user in post.likes.all %}btn-primary{% else %}btn-outline-primary{% endif %} btn-sm">Unlike</button> -->
			{%else%}
			<button class="btn btn-primary btn-sm" , type="submit" , name='post_id',value="{{post.id}}">
				Like 
			</button

			{% endif %}
			
		</form>
	</div>
	{%endif%}
	<br>
	<div style="padding: 20px">
		<p>{{post.total_like}} Likes</p>
	</div>


	
	</div>

	<h3>Comments...</h3>
	<br>

{%if not post.comments.all %}
No Comments yet 

<a href="{% url 'add_comment' post.pk%}"> Add One</a>

{%else%}

<a href="{% url 'add_comment' post.pk%}"> Add Comment</a>
<br><br>

{% for comment in post.comments.all%}
<b>{{comment.name}}</b>
<b>{{comment.date_added}}</b>
<br>

{{comment.comment}}<br><hr>
{%endfor%}

{%endif%}
<br><br>

	<div style="display: flex; padding-top: 20px;">
		<a class="btn btn-secondary" href="{% url 'home' %}">Back</a>
	</div>

	
	</div>

	
	
	

	

{% endblock %}


