{% extends 'base.html'%}

{% block content%}

{% block title %}
    <title>Update Blog Here....</title>
{% endblock %}

{% if user.is_authenticated %}
{%if user.id == post.author.id%}


<h3>Update Blog...</h3>

<div class='form-group'>
	<form method="POST">
		{% csrf_token %}
		{{form.media}}

		{{form.as_p}}
		<br>
		<a href="{% url 'update' post.pk%}"><button class="btn btn-success">Update</button></a>
	</form>
</div>

{%else%}
 <h2>You are Not Allow To Update this!!!</h2>
{%endif%}

{%else%}
You Are Not Allowed to here...Please Login
{%endif%}

{% endblock %}
