{% extends 'base.html'%}

{% block content%}
{% if user.is_authenticated %}
{% block title %}
    <title>Create Profile</title>
{% endblock %}



<h1>Create Now</h1>

<div class='form-group' >
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		{{form.media}}
		{{form.as_p}}
		<br>
		<button class="btn btn-primary" >Create</button>
	</form>
</div>

<script> 
 
 var name ="{{user.id}}";
 document.getElementById("current").value = name;


</script>
{%else%}
You Are Not Allowed to here...Please Login
{%endif%}

{% endblock %}